<div class="resetPassword">

	<div class="input-wrap">
		<div class="input-icon email"></div>
		<input type="text" ng-model="email" placeholder="{{dictionary.mailText}}" />
	</div>
	
	<div class="btn" ng-class="{'disable': email.length == 0  || pass.length == 0}" ng-click="sendEmail()">
		<div class="btn-text">
			{{dictionary.resetPassword}}
		</div>
	</div>

    <div class="show-error" ng-if ="showError">{{dictionary.mailDoesNotExist}}</div>

	<div class="btn secBtn" ng-class="{'disable': email.length == 0  || pass.length == 0}" ng-click="cancel()" >
		<div class="btn-text">
			{{dictionary.cancelText}}
		</div>
	</div>

    
</div>
