<div class="my-classroom-wrap">
	<div class="fullBlueBack">
		<!--tabs under header-->
		<div class="tabs-wrap">
			<div class="tab-header" ng-class="{'activeTab':rightActive}"
				ng-click="rightTab()">
				<div class="tab-text">{{dictionary.attendance}}</div>
			</div>
			<div class="tab-header" ng-class="{'activeTab':!rightActive}"
				ng-click="leftTab()">
				<div class="tab-text">{{dictionary.understanding}}</div>
			</div>
		</div>
	</div>
	<!--<div class="sort-controls">
	<div id="sort-by-name" class="sort-button" ng-click="sortStudents('fullname');">
	{{dictionary.fullname}}
	<div class="sort-indicator" ng-show="sortBy=='fullname'" ng-class="{reverse:reverse}"></div>
	</div>
	<div id="sort-by-value" class="sort-button"  ng-click="sortStudents(valueType);">
	{{dictionary[valueType]}}
	<div class="sort-indicator" ng-show="sortBy==valueType" ng-class="{reverse:reverse}"></div>
	</div>
	</div>-->
	<div class="no-permission" ng-if="noPermission">
		{{dictionary.noPermission}}</div>
	<div ng-if="!noPermission" class="students-list">
		<!--active students-->
		<div ng-repeat="status in ['1', '0']">
			<div ng-if="status=='0'" class="page-sub-title">{{dictionary.inactiveStudentsList}}</div>
			<div ng-if="student.status==status" ng-repeat="student in students" class="student-wrap" ng-class="{'inactive':(student.status=='0')}">
				<div class="student-profile-pic-wrap"  ng-click="goToStudentProfile(student.userid)">
				</div>
				<div class="student-profile-pic" style="{{(student.image != '' ? 'background-image:url('+imgsDomain+ student.image+'); ':'background-image:url(./img/profile.svg); ')+('border-color: '+ getColorByVal(student[valueType]['average']['rate']))}}"></div>
				<div class="student-details">
						<div class="text-pupil-name">{{student.fullname}}</div>
						<br>
						<div class="student-values">
							<div ng-if="student[valueType]['average']['numOfMeetings']>0">
								<div class="course-average" ng-class="{unusual:student[valueType]['average']<70}">
									{{student[valueType]['average']['rate']+"%"}}
								</div>
							<div class="last-two-meeting" ng-show="student[valueType]['streak']>=2">
								{{valueType=="attendance"?dictionary.lastTwoMeetingsAttendance:valueType=="understanding"?dictionary.lastTwoMeetingsUnderstanding:''}}
							</div>
						</div>
					<div class="not-enough-info" ng-if="!student[valueType]['average']['numOfMeetings']>0">
						{{dictionary.missingData}}</div>
					</div>
				</div>
				<div class="more-student-details"
					ng-class="{'opened': student.showMoreDetails||student.toggelingStatusAnimation}">
					<!--little arrow signifying whether the menu is currently open or not-->
					<div class="dropdown-content-header">
						<img class="dropdown-arrow" ng-click="student['showMoreDetails'] = !student['showMoreDetails']; $('#panel').slideToggle('slow');" src="img/ic_scroll_down_pressed.png">
					</div>
					<!--dropdown content - visible only when open-->
					<div class="dropdown-list-wrap">
						<div class="details-section-title">
							{{dictionary.statusInCourse}}
						</div>
						<select ng-model="student.enrollmenttagid" ng-change="updateEnrollmentTag(student)" ng-options="tag.enrollmenttagid as tag.name for tag in StudentsEnrollmentTags"></select>
						<div class="details-section-title">
							{{dictionary.studentsMentoringSessions}}
						</div>
						<ol class="dropdown-list">
							<li class="dropdown-item" ng-repeat="session in student['mentoringSessions']">{{session.mentoringSessionHe}}
								{{session.mentoringSessionDate | date:'shortDate'}}
							</li>
							<li class="placeholder-comment" ng-if="student['mentoringSessions'].length==0">
								{{dictionary.missingData}}
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>