.date-input-wrap{
	white-space: nowrap;
	width: 100%;
}
.date-input-wrap select{
	display: inline-block;
	margin-bottom: 0 !important;
	margin-left: 1%;
}
.date-input-wrap select.date-input-year{
	width: 49.3% !important;
}
.date-input-wrap select.date-input-month{
	width: 24% !important;
}
.date-input-wrap select.date-input-day{
	width: 24% !important;
}