.header-wrap {
	height: 15vw;
	box-sizing: border-box;
	font-size: 6vw;
	text-align: right;
	padding: 0 4vw;
	background-color: #4a90e2;
	padding-top: 2%;
	z-index: 11;
	white-space: nowrap;
	position: relative;
}
.header-wrap.no-shadow {
	box-shadow: initial;
	-webkit-box-shadow: initial
}

.header-title {
	text-align: right;
	width: 63%;
	margin-right: 4%;
	display: inline-block;
	margin-top: 1vw;
	height: 9vw;
	color: white;
	text-overflow: ellipsis;
	overflow: hidden;
}

.login-background .header-title {
	color: white;
}

.fullBlueBack .header-title {
	color: white;
}

.menu-icon {
	height: 5vw;
	background-repeat: no-repeat;
	width: 5vw;
	background-size: contain;
	background-position: center;
	background-image: url(../img/ic_menu_white.svg);
	vertical-align: text-bottom;
	position: absolute;
	left: initial;
	/*right: 2vh;*/
	top: 0;
	bottom: 0;
	margin: auto;
}

.menu-icon-wrap {
	height: 5vw;
	width: 5vw;
	display: inline-block;
	vertical-align: middle;
    padding: 2vw
}

.fullBlueBack .menu-icon {
	background-image: url(../img/ic_menu_white.svg);
}

.login-background .menu-icon-wrap, .login-background .profile-img {
	display: none;
}

.profile-img {
	background-image: url(../img/profile.svg);
	width: 10.08vw;
	height: 10.08vw;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 0.96vw solid #DBE9F9;
	display: inline-block;
	vertical-align: middle;
	float: left;
	position: relative;
}
.pencil-icon-wrap {
	vertical-align: middle;
	float: left;
	position: relative;
	padding-top: 2.5vw;
}
.pencil-icon {
	background-image: url(../img/pencil.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 6vw;
	height: 6vw;
}

.dartIcon {
	background-image: url(../img/ic_back_normal.svg);
}

.viIcon {
	background-image: url(../img/btn_v_pressed.png);
	width: 7%;
	height: 70%;
	background-size: cover;
	background-position: center;
	top: 0;
	margin-left: 3%;
}

.x-icon {
	background-image: url(../img/ic_close_normal.png);
	height: 4.5 vw;
	width: 4.3 vw;
}

.blueSquare {
	background-color: #4a90e2;
	display: inline-block;
}

.blueSquare.next {
	color: white;
	text-align: left;
	vertical-align: top;
	margin-right: 4%;
	margin-top: 1vw;
	float: left;
}

.menu-icon.ios{
    margin-bottom: 13px;
}