

.btn {
    color: white;
}

.secBtn {
    margin-top: 5%;
}

.resetPassword {
    height: 100%;
    padding-top: 20%;
    box-sizing: border-box;
    background-color: #4A90E2;
}

.show-error {
    color: red;
    text-shadow: 0 0 1vw white;
    font-size: 80%;
    margin-top: 2.5vw;
}

.show-success {
    color: red;
    text-shadow: 0 0 1vw white;
    font-size: 80%;
    margin-top: 2.5vw;
}
