<div id="wrapper">
	<header></header>
	<div id="page-wrapper">
		<div class="panel-body">
		
			<ul class="nav nav-tabs" ng-init="tabindex='activetable'">
				<li style="cursor:pointer" ng-class="{active:courseStatus==1}"><a ng-click="goToActiveTab();">קורסים פעילים</a>
				</li>
				<li style="cursor:pointer" ng-class="{active:courseStatus==0}"><a ng-click="goToInactiveTab();">קורסים לא פעילים</a>
				</li>
			</ul>
			<br>
			<div>
				<input type="text" class="form-input search-bar" placeholder="חיפוש קורס" ng-model="search" ng-keyup="$event.keyCode == 13?pageIndex=0:''; $event.keyCode == 13?refreshResults():'';">
				<div class="clickable search-button" ng-click="pageIndex=0; refreshResults();"><i class="fa fa-search" aria-hidden="true" ng-click="$event.keyCode == 13?pageIndex=0:''; $event.keyCode == 13?refreshResults():'';"></i></div>
			</div>
			<page-navigator page-count="pageCount" page-index="pageIndex" go-to-page="goToPage" loading="loading"></page-navigator>
			<div class="scrolling-table-wrapper">
				<div class="scrolling-table clickable">
					<table class="table-striped table-bordered table-hover midrows">
						<thead>
							<tr>
								<th sorter-table-header field-index="'code'" field-text="'קוד קורס'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="small-cell"></th>
								<th sorter-table-header field-index="'name'" field-text="'שם קורס מלא'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="large-cell"></th>
								<th sorter-table-header field-index="'subname'" field-text="'שם מקוצר'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="large-cell"></th>
								<th sorter-table-header field-index="'project'" field-text="'פרויקט'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="small-cell"></th>
								<th sorter-table-header field-index="'year'" field-text="'שנת תקציב'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="small-cell"></th>
								<th sorter-table-header field-index="'cityname'" field-text="'עיר'" sort-by-field="sortBy" sorting-field="sortingField" reverse-order="reverseOrder" class="small-cell"></th>
								<th sorter-table-header field-index="'teachers'" field-text="'מדריך'"  class="large-cell"></th>
								<th sorter-table-header field-index="'studentnum'" field-text="'מס סטודנטים'"  class="small-cell"></th>
							</tr>
						</thead>
						<tbody ng-model="courses">
							<tr style="cursor:pointer" ng-click="goToCoursePage(course)"  ng-repeat="course in courses | orderBy:sortType:sortReverse">
								<td class="small-cell" title="{{course.code}}">{{course.code}}</td>
								<td class="large-cell" title="{{course.name}}">{{course.name}}</td>
								<td class="large-cell" title="{{course.subname}}">{{course.subname}}</td>
								<td class="small-cell" title="{{course.project}}">{{course.project}}</td>
								<td class="small-cell" title="{{course.year}}">{{course.year}}</td>
								<td class="small-cell" title="{{course.cityname}}">{{course.cityname}}</td>
								<td class="large-cell" title="{{course.teachers}}">{{course.teachers}}</td>
								<td class="small-cell" title="{{course.studentnum}}">{{course.studentnum}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<page-navigator page-count="pageCount" page-index="pageIndex" go-to-page="goToPage" loading="loading"></page-navigator>
			<div excel-export file-name="{{fileName}}" get-data="getCoursesFull" ng-show="courses.length>0"></div>
			<div class="card-controls" ng-if="isAdmin">
					<button type="button" class="button card-control commit-card-edit" ng-click="addCourse()">
						הוספת קורס <img src="./img/icon-add.png"/>
					</button>
				</div>
			</div>
	</div>
</div>
