<div ng-if="isAdmin" id="wrapper">
	<header></header>
<div id="page-wrapper">
	<div class="panel-body">
		<div class="tab-content">
		<form ng-submit="SaveData()" role="form">

			<h5>שנת תקציב:</h5>
			<hr>
			<div class="form-group" ng-repeat="yearbudget in yearsbudget">
				<div>
				<!--				
					<label ng-init="yearbudget.IsShow=(yearbudget.IsShow && yearbudget.IsShow=='1')?true:false" class="myradio" ng-class="{radiochecked: yearbudget.IsShow,radiounchecked: !yearbudget.IsShow}" ng-click="yearbudget.IsShow=!yearbudget.IsShow" ng-model="yearbudget.IsShow"></label>
				-->				
					<toggle style="float: right; margin-left: 10px;" ng-init="yearbudget.IsShow=(yearbudget.IsShow && yearbudget.IsShow=='1')?true:false" ng-model="yearbudget.IsShow" ng-change="changed()" on="פעיל" off="לא פעיל"></toggle>
					<input required style="width: 30%;" class="form-control" placeholder="שנה" ng-model="yearbudget.year">
				</div>
			</div>
			<button ng-click="CreateData()" style="text-align: right;border-color: #49814d; background-color: #49814d;" type="button" class="btn btn-info">הוסף שנת תקציב&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./img/icon-add.png" /></button>

			<hr>
			<button style="width: 20%; float: left;border-color: #49814d; background-color: #49814d;" ng-if="yearsbudget" type="submit" class="btn btn-info">שמור</button>
			<button style="margin-left: 15px; width: 20%; float: left;border-color: gray; background-color: gray;" ng-if="yearsbudget" type="button" class="btn btn-info" ng-click="ClearData()">בטל</button>

			<span modal-confirm control="alertcontrol" text="הנתונים נשמרו בהצלחה.">
			</span>
			
		</form>
		</div>
	</div>
	<!-- /.panel-body -->
</div>

</div>

