<span class="modal-directive modal-confrim">
    <div class="modal fade in" tabindex="-1" ng-if="modalShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closemodal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> שאלת ריבוי לחיצות</h4>
                </div>
				
                <div class="modal-body">
                    <div class="alert alert-danger" ng-if="hasError">
						נא למלא את כל השדות
                    </div>
					
                    <div class="form-group">		
						<p class="help-block">תיאור המשימה</p>					
                        <input class="form-control" ng-model="question.text" placeholder="תיאור המשימה" maxlength="100">
                        <p class="help-block">{{question.text.length}} מתוך 100 תווים</p>
                    </div>
					
                    <div class="form-group">
						<p class="help-block">	מספר הקליקים </p>
                        <input type="number" class="form-control" ng-model="question.numOfClicks"  ng-change="change()" placeholder="מספר לחיצות" maxlength="100">
                    </div>

 					<label>
						<input type="checkbox" ng-model="question.withTimer">
							להציג טיימר?
					</label>

                    <div ng-if="question.withTimer==true" class="form-group">						
                        <p class="help-block">מספר שניות</p>
						<input type="number" class="form-control" ng-model="question.numOfSeconds" placeholder="מספר שניות" maxlength="100">
                    </div>
					
 					<p class="help-block">מספר פריימים בספרייט</p>
					<input type="number" class="form-control" ng-model="question.numOfFrames"  ng-change="change()" placeholder="מספר פריימים בספרייט" maxlength="100">
					<p class="help-block"></p>
					<span class="input-group-btn">
						<span class="btn btn-info btn-file">
							<i class="fa fa-upload"></i> <i class="fa fa-photo"></i> 
							<input type="file" accept=".png, .jpg, .jpeg" ngf-select="onFileSelect(question.img, $files)">
						</span>
					</span>
				
					<p class="help-block">גובה אופטימלי: 257px</p>
				
					<img ng-src="/{{question.img}}" ng-if="question.img" style="
																				max-width: 100%; 
																				height: 100%;
																				top: 0;
																				right: 0;
																				"/>

					<p class="fa fa-trash-o" ng-if="question.img" ng-click="question.img=null" style="cursor: pointer;"></p>
                    <br>

					<p class="help-block"></p>
					
                   <div class="form-group">				
						<p class="help-block"> מספר הנקודות לשאלה </p>					
						<input type="number" class="form-control" ng-model="question.numOfPoints"  ng-change="change()" placeholder="מספר נקודות" maxlength="100">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closemodal" ng-click="confirm()">אישור</button>
                </div>
            </div>
            <div class="modal-load" ng-if="modalLoad"></div>
        </div>
    </div>
    <div class="modal-backdrop fade in" ng-if="modalShow"></div>
    <span ng-transclude ng-click="open()"></span>
</span>