<span class="modal-directive modal-confrim">
    <div class="modal fade in" tabindex="-1" ng-if="modalShow">
        <div style="width: 450px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closemodal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">שינוי סיסמה</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-if="hasError">
                נא למלא את כל השדות
                    </div>
					<div class="alert alert-danger" ng-if="errormassage">
						{{errormassage}}
                    </div>
					
                    <div class="form-group">	
						<p class="help-block">סיסמה נוכחית</p>					
                        <input class="form-control" ng-model="ngModel.curentpassword" placeholder="סיסמה נוכחית">
						<p class="help-block">סיסמה חדשה</p>					
                        <input class="form-control" ng-model="ngModel.firstnewpass" placeholder="סיסמה חדשה">
						<p class="help-block">אימות סיסמה</p>					
                        <input class="form-control" ng-model="ngModel.secondnewpass" placeholder="אימות סיסמה">
                    </div>
					
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closemodal" ng-click="confirm()">אישור</button>
                </div>
            </div>
            <div class="modal-load" ng-if="modalLoad"></div>
        </div>
    </div>
    <div class="modal-backdrop fade in" ng-if="modalShow"></div>
    <span ng-transclude ng-click="open()"></span>
</span>