<div pull-to-refresh update-fn="onReload()" required-percentage="0.3" frame-top="'calc(15vw)'">
	<div class="tabs-wrap fullBlueBack">
		<div class="tab-header" ng-if="enrollments[2]" ng-repeat="role in enrollments" ng-class="{'activeTab':role.enrollmentrole==selectedRole}" ng-click="switchRole(role.enrollmentrole)">
			<div class="tab-text">
				{{enrollmentRoleNames[role.enrollmentrole]}}
			</div>
		</div>
	</div>
	<div class="course-listing-wrap" >
		<div class="nobtn box collapse-default">
			<div class="nobtn box-title " ng-click="changeActivesShow()">
				<div ng-class="dropdownactivefullclass"></div>
				{{dictionary.computerCoursesText+" "+dictionary.allActiveCoursesText}}
			</div>
		</div>
		<div class="course-listing-wrap" ng-repeat="course in enrollments[selectedRole].courses |  filter:isActive "  ng-click="goToCoursePage(course.courseid)"  ng-show= showactive >
			<div class="course-name">
				{{!isArabic ? course.shortcoursename : course.shortarabiccoursename}}
			</div>

			<!-- <div class="course-status">
				{{course.status == "1" ? dictionary.allActiveCoursesText : dictionary.allFinishCoursesText}}
			</div> -->
		</div>
		<div class="nobtn box collapse-default">
			<div class="nobtn box-title" ng-click="changeNotActivesShow()">
				<div ng-class=dropdownnotactivefullclass></div>
				{{dictionary.computerCoursesText+" "+dictionary.allFinishCoursesText}}
			</div>
		</div>
		<div class="course-listing-wrap" ng-repeat="course in enrollments[selectedRole].courses |  filter:notIsActive "  ng-click="goToCoursePage(course.courseid)"  ng-show= shownotactive >
			<div class="course-name">
				{{!isArabic ? course.shortcoursename : course.shortarabiccoursename}}
			</div>
			<!-- <div class="course-status">
				{{course.status == "1" ? dictionary.allActiveCoursesText : dictionary.allFinishCoursesText}}
			</div> -->
		</div>
	</div>
</div>

<!--TODO - fix hardcoding of enrollmentroleid-->
<div class="enroll-to-course" ng-if="selectedRole==1" ng-click="openAddCourse()"></div>
<div ng-show="showEnrollWithCodeForm">
	<div class="popupBackground" ng-click="cancelAddCourse()"></div>
	<div class="popup " ng-class="{'validation': showValidationDesign}">
		<div class="popup-content-wrap">
			<div ng-show="!enrollingError">
				<div class="title-popup">
					{{dictionary.addcourseText}}
				</div>
				<div class="sentence-popup">
					{{dictionary.codeCourseText}}
				</div>
				<input class="rounded-text-input" type="text" ng-change="change()" ng-model="courseEnrollmentCode" autofocus ng-keyup="$event.keyCode == 13 && confirmAddCourse()">
			</div>
			<div ng-show="enrollingError">
				<img src="./img/ic_adding_course_1.png" class="popup-image"/>
				<div class="sentence-popup">
					{{dictionary[enrollingError]}}
				</div>
			</div>
		</div>

		<div class="yes-no-btn">
			<div class="cancel" ng-click="cancelAddCourse()">
				{{dictionary.cancelCourseText}}
			</div>
			<div class="confirm" ng-click="confirmAddCourse()" ng-show="!enrollingError">
				{{dictionary.confirmCourseText}}
			</div>
		</div>
	</div>
</div>