<!DOCTYPE html>
<html lang="en" ng-app="appleApp">
	<head>
		<!--google analytics-->
		<script>
			document.addEventListener("deviceready", initAnalytics, false);
			function initAnalytics(){
				window.ga.startTrackerWithId('UA-100454866-1')
			}
		</script>
		<!--/google analytics-->
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, minimum-scale=1,maximum-scale=1, user-scalable=0, height=device-height, width=device-width" />
		<title>עמותת תפוח</title>

		<link rel="stylesheet" href="./css/StyleSheet.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/fonts.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/scrollbar.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/text-selection.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/header.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/sidebar.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/login.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/studentSignup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/userProfile.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/courses.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/course.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/setting.css" type="text/css" />
		<link rel="stylesheet" href="./css/mentoringSession.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/createLesson.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/meetingComment.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/nextLesson.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/attendanceReporting.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/attendanceApproval.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/syllabus.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/lessonEnd.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/teacherDashboard.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/syllabusDashboard.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/myClassroom.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/animation.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/feedbackSlider.css">
		<link rel="stylesheet" href="./css/material-datetimepicker.css" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap-combined-notFull.css" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap-datetimepicker.min.css" type="text/css" />
		<link rel="stylesheet" href="./css/jquery.timepicker.css" type="text/css" />
		<link rel="stylesheet" href="./css/swiper.min.css" type="text/css" />
		<link rel="stylesheet" href="./css/resetPassword.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/desktop.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/inputs.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/buttons.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/sectionWraps.css">
		<link rel="stylesheet" href="./css/popups/popup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/popups/choicePopup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/popups/optionsPopup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/popups/pushNotificationPopup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/popups/meetingAttendancePopup.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/searchBar.css" type="text/css" />
		<link rel="stylesheet" href="./css/youtubeSearch.css" type="text/css" />
		<link rel="stylesheet" href="./css/box-block.css?v=7" type="text/css" />
		<link rel="stylesheet" href="./css/pulltorefresh.css">
		<link rel="stylesheet" href="./css/progressBar.css">
		<link rel="stylesheet" href="./css/toggleSwitch.css">
		<link rel="stylesheet" href="./css/statBlock.css">
	</head>
	<body>
		<header></header>
		<gallery ng-if="$state.is('login')||$state.is('studentSignup')"></gallery>
		<div class="page-wrap" ng-class="{
		'mobile-device' : isMobile,
		'desktop-device' : !isMobile,
		'gradient' : $state.is('userProfile'),
		'active' : ($state.is('activeLesson')||$state.is('studentFeedback')||$state.is('teacherFeedback')||$state.is('subjectFeedback')||$state.is('attendanceApproval')||$state.is('syllabus'))}">
			<div class="page-background"></div>
			<div class="page" data-ui-view="main" ng-class="{'no-shadow' : $state.is('login')}"></div>
		</div>
		<pushpopup ng-repeat="pushItem in push.pushArr" pushdata="pushItem"></pushpopup>
		<!--<script src="cordova.js"></script>-->
		<!--<script src="cordova_plugins.js"></script>-->
		<script src="./js/jquery-3.3.1.min.js"></script>
		<script src="./js/angular.min.js"></script>
		<script src="./js/angular-ui-router.min.js"></script>
		<!---swiper--->
		<script src="./js/swiper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		
		<!---date-time picker--->
		<script type="text/javascript" src="./js/bootstrap-datetimepicker.min.js"></script>
		<!---time picker--->
		<script type="text/javascript" src="./js/jquery.timepicker.js"></script>
		<!--fileupload--->
		<script src="./js/ng-file-upload.min.js"></script>
		
		<script src="dictionary.js"></script>
		<script src="config.js?v=7"></script>
		<script src="app.js?v=8"></script>
		
		<!--components-->
		<script src="./components/login/login.js?v=7"></script>
		<script src="./components/activeLesson/activeLesson.js?v=7"></script>
		<script src="./components/setting/setting.js?v=7"></script>
		<script src="./components/courses/courses.js?v=7"></script>
		<script src="./components/teacherFeedback/teacherFeedback.js?v=7"></script>
		<script src="./components/studentFeedback/studentFeedback.js?v=7"></script>
		<script src="./components/singleCourse/singleCourse.js?v=7"></script>
		<script src="./components/createLesson/createLesson.js?v=7"></script>
		<script src="./components/nextLesson/nextLesson.js?v=7"></script>
		<script src="./components/attendanceReporting/attendanceReporting.js?v=7"></script>
		<script src="./components/subjectFeedback/subjectFeedback.js?v=7"></script>
		<script src="./components/attendanceApproval/attendanceApproval.js?v=7"></script>
		<script src="./components/syllabus/syllabus.js?v=7"></script>
		<script src="./components/end/end.js?v=7"></script>
		<script src="./components/mentoringSession/mentoringSession.js?v=7"></script>
		<script src="./components/studentSignup/studentSignup.js?v=7"></script>
		<script src="./components/userProfile/userProfile.js?v=7"></script>
		<script src="./components/teacherDashboard/teacherDashboard.js?v=7"></script>
		<script src="./components/lessonHistory/lessonHistory.js?v=7"></script>
		<script src="./components/syllabusDashboard/syllabusDashboard.js?v=7"></script>
		<script src="./components/myClassroom/myClassroom.js?v=7"></script>
		<script src="./components/resetPassword/resetPassword.js?v=7"></script>
		<script src="./components/changePassword/changePassword.js?v=7"></script>
		<!--directives-->
		<script src="./directives/header/header.js?v=7"></script>
		<script src="./directives/menu/menu.js?v=7"></script>
		<script src="./directives/sidebar/sidebar.js?v=7"></script>
		<script src="./directives/comment/comment.js?v=7"></script>
		<script src="./directives/meetingComment/meetingComment.js?v=7"></script>
		<script src="./directives/progressBar/progressBar.js"></script>
		<script src="./directives/toggleSwitch/toggleSwitch.js"></script>
		<script src="./directives/statBlock/statBlock.js?v=7"></script>
		<script src="./directives/selectableStat/selectableStat.js?v=7"></script>
		<script src="./directives/pushpopup/pushpopup.js?v=7"></script>
		<script src="./directives/hierarchy/hierarchy.js?v=7"></script>
		<script src="./directives/feedbackSlider/feedbackSlider.js?v=7"></script>
		<script src="./directives/dynamicmask/dynamicmask.js?v=7"></script>
		<script src="./directives/gallery/gallery.js?v=7"></script>
		<script src="./directives/searchBar/searchBar.js?v=3"></script>
		<!--services-->
		<script src="./services/login.js?v=7"></script>
		<script src="./services/profile.js?v=7"></script>
		<script src="./services/server.js?v=7"></script>
		<script src="./services/push.js?v=7"></script>
		<script src="./services/permissions.js?v=7"></script>
		<script src="./services/dateNames.js?v=7"></script>
	</body>
</html>