<div ng-if="isAdmin" id="wrapper">
	<header></header>
<div id="page-wrapper">
	<div class="panel-body">
		<div class="tab-content">
		<form ng-submit="SaveData()" role="form">

			<h5>סטטוס:</h5>
			<hr>
			<div class="form-group" ng-repeat="statuse in statuses">
				<div>
					<toggle style="float: right; margin-left: 10px;" ng-init="statuse.IsShow=(statuse.IsShow && statuse.IsShow=='1')?true:false" ng-model="statuse.IsShow" ng-change="changed()" on="פעיל" off="לא פעיל"></toggle>
					<input required style="width: 30%;" class="form-control" placeholder="סטטוס" ng-model="statuse.name">
				</div>
			</div>
			<button ng-click="CreateData()" style="text-align: right;border-color: #49814d; background-color: #49814d;" type="button" class="btn btn-info">הוסף סטטוס&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./img/icon-add.png" /></button>

			<hr>
			<button style="width: 20%; float: left;border-color: #49814d; background-color: #49814d;" ng-if="statuses.length>0" type="submit" class="btn btn-info">שמור</button>
			<button style="margin-left: 15px; width: 20%; float: left;border-color: gray; background-color: gray;" ng-if="statuses.length>0" type="button" class="btn btn-info" ng-click="ClearData()">בטל</button>
			
			<span modal-confirm control="alertcontrol" text="הנתונים נשמרו בהצלחה.">
			</span>
			
		</form>
		</div>
	</div>
	<!-- /.panel-body -->
</div>

</div>

