<div id="wrapper">
	<header></header>
	<div id="page-wrapper">
		<h2 class="page-title">עריכת חניך</h2>
		<form ng-submit="UpdateNominee()">
			<div>
				<p>נרשם ב: {{nominee.RegistrationDate}}</p>
			</div>
			<br>
			<h4 ng-if="nominee.nomineeid">הפרופיל של {{nominee.firstname+" "+nominee.lastname}}</h4>
			<div class="form-row">
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper">
							<label>שם פרטי בעברית</label>
							<input required tabindex="1"  class="form-input input-content" ng-model="nominee.firstname">
						</div>
					</div>

					<div class="input-col">
						<div class="input-wrapper">
							<label>שם משפחה בעברית</label>
							<input required tabindex="2"  class="form-input input-content" ng-model="nominee.lastname">
						</div>
					</div>
				</div>
				
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper">
							<label>שם פרטי בערבית</label>
							<input tabindex="3" class="form-input input-content" ng-model="nominee.firstnameinarabic">
						</div>
					</div>
					
					<div class="input-col">
						<div class="input-wrapper">
							<label>שם משפחה בערבית</label>
							<input tabindex="4" class="form-input input-content" ng-model="nominee.lastnameinarabic">
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper">
							<label>מס' טלפון</label>
							<input required tabindex="5" type="text" pattern="[0-9,-]*" class="form-input input-content" ng-model="nominee.phone">
						</div>
					</div>


					<div class="input-col">
						<div class="input-wrapper">
							<label>מס' טלפון של הורים</label>
							<input tabindex="6" type="text" pattern="[0-9,-]*" class="form-input input-content" ng-model="nominee.phoneparents">
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper">
							<label>עיר מגורים</label>
							<select required tabindex="8" class="form-input input-content" ng-model="nominee.cityid" ng-options="city.cityid as city.name for city in cities">
								<option></option>
							</select>
						</div>
					</div>

					<div class="input-col">
						<div class="input-wrapper">
							<label>כתובת</label>
							<input tabindex="9" class="form-input input-content" ng-model="nominee.neighborhood">
						</div>
					</div>

					<div class="input-col">
						<div class="input-wrapper">
							<label>עיר פעילות</label>
							<select required tabindex="10" class="form-input input-content" ng-model="nominee.netacityid" ng-change="GetSchoolsByNetaCityId()" ng-options="netacity.CityId as netacity.CityName for netacity in NetaCities">
								<option></option>
							</select>
						</div>
					</div>

					<div class="input-col">
						<div class="input-wrapper">
							<label>בית ספר</label>
							<select required tabindex="11" class="form-input input-content" ng-model="nominee.schoolid" ng-options="school.schoolid as school.schoolname for school in schools" >
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper">
							<label>כיתה</label>
							<select tabindex="12" class="form-input input-content" ng-model="nominee.classid" ng-options="class.classid as class.classname for class in Classes">
								<option></option>
							</select>
						</div>
					</div>
				<div class="input-col">
					<div class="input-wrapper">
						<label>כיצד שמעת עלינו</label>
						<select tabindex="13" class="form-input input-content" ng-model="nominee.hearaboutid" ng-options="hearabout.hearaboutid as hearabout.hearaboutoption for hearabout in HearAboutUs">
							<option></option>
						</select>
					</div>
				</div>
			</div>
			<div class="input-col">
				<div class="input-col">
					<div class="input-wrapper">
						<label>סטטוס</label>
						<select tabindex="14" class="form-input input-content" ng-model="nominee.nomineestatusid" ng-options="nomineestatus.nomineestatusid as nomineestatus.nomineestatus for nomineestatus in Statuses">
							<option>
						</select>
					</div>
				</div>
				<div class="input-col">
					<div class="input-wrapper">
						<label>מגדר</label>
						<select tabindex="15" class="form-input input-content" ng-model="nominee.genderid" ng-options="gender.genderid as gender.name for gender in genders">
							<option></option>
						</select>
					</div>
				</div>
			</div>
		</div>


			<div class="form-row">
				<div class="input-col">
					<div class="input-col">
						<div class="input-wrapper" style="max-width: 17em;">
							<label>תאריך לידה</label>
							<input required="true" type="" tabindex="16" class="form-input input-content" ng-model="nominee.birthday">
						</div>
					</div>

					<div class="input-col">
						<div class="input-wrapper">
							<label>אימייל</label>
							<input required type="email" tabindex="17" class="form-input input-content" ng-model="nominee.email">
						</div>
					</div>
				</div>
			</div>

			<br>
			<div>
				<b>הערות</b>
				<br>
				<textarea rows="6" style=" width:100%;" tabindex="18" ng-model="nominee.comments"></textarea>
			</div>
			<br>
			<div class="form-group">
			</div>
			<hr>
			<div class="card-controls">
				<button tabindex="19" type="submit" class="button card-control commit-card-edit">שמור</button>
				<button tabindex="20" type="button" class="button card-control cancel-card-edit" ng-click="goBack();">בטל</button>
			</div>
			</br>
		</form>
	</div>
</div>

