<!-- Slider main container -->
<div class="swiper-container">
	<!--navigation buttons -->
	<div class="navigator-wrap">
		<div class="curr-meeting-properties">
			<div ng-hide="!loading && meetings.length == 0">
				{{dictionary.lesson+" "+meetingIds[mySwiper.activeIndex].num+", "+meetings[mySwiper.activeIndex].date}}
				<div class="nav-button next-meeting-button" ng-class="{'real-swiper-button-disabled':mySwiper.activeIndex==mySwiper.slides.length-1}"></div>
				<div class="nav-button prev-meeting-button" ng-class="{'real-swiper-button-disabled':mySwiper.activeIndex==0}"></div>
			</div>
			<div ng-show="!loading && meetings.length == 0">Welcome</div>
		</div>
	</div>

		<div class="no-lessons" ng-show="!loading && meetings.length == 0">
			<img id="logoPicWelcome" src="./img/logo-Lesson0.png"/>
		</div>


	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide" id="slide_{{$index}}" ng-repeat = "meeting in meetingIds track by $index">
			<div class="meeting-wrap">
				<div class="box two-column-box">
					<div class="box-title">
						<img src="./img/calendar.svg" title="{{dictionary.dayText}}" alt="{{dictionary.dayText}}"/><br/>
						<div>{{meetings[$index].date}}</div>
					</div>
				</div>
				<div class="box two-column-box">
					<div class="box-title">
						<img src="./img/clock.svg" title="{{dictionary.TimeText}}" alt="{{dictionary.TimeText}}"/><br/>
						<div>{{meetings[$index].hour}}</div>
					</div>
				</div>
				
				<div class="box box-expanded">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{dictionary.studyMaterialText}}
					</div>
					<div class="box-content box-content-large">
						<div class="padded-content padding-start-content">
							<div ng-repeat="subject in meetings[$index].syllabus" class="subject-name">
								{{(!isArabic || !subject.subjectinarabic)? subject.subject : subject.subjectinarabic}}
							</div>
							<div ng-repeat="subject in meetings[$index].customSubjects" class="subject-name" ng-if="meetings[$index].customSubjects.length">
								{{subject.subject}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="box collapse-default" ng-if="meetings[$index].resourceLinks.length">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{dictionary.meetingResources}}
					</div>
					<div class="box-content">
						<div class="padded-content">
							<div ng-repeat="link in meetings[$index].resourceLinks" class="resourceLink" ng-if="link.link.indexOf('youtube')==-1">
								<a ng-href="{{link.link}}" target="_blank">{{link.title}}</a>
							</div>
							<div ng-repeat="video in meetings[$index].trustedVideoUrls">
								<iframe  id="resource-frame" class="youtube-iframe" ng-src="{{video}}"
									allowfullscreen="allowfullscreen"
									mozallowfullscreen="mozallowfullscreen"
									msallowfullscreen="msallowfullscreen"
									oallowfullscreen="oallowfullscreen"
									webkitallowfullscreen="webkitallowfullscreen"
								/>
							</div>
						</div>
						<meeting-comment profile-pic="meetings[$index].creatorImage" profile-name="meetings[$index].creatorName" editable="false" placeholder="" comment-model-index="'linkComments'" comment-model-wrap="meetings[$index]" comment-changed="commentChanged(comment)"/>
					</div>
				</div>
				
				<div class="box collapse-default" ng-if="meetings[$index].highlightedStats.length">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{dictionary.meetingStats}}
					</div>
					<div class="box-content">
						<div class="padded-content padding-start-content">
							<div ng-repeat="stat in meetings[$index].highlightedStats" class="shared-stat">
								{{stat}}
							</div>
						</div>
						<meeting-comment profile-pic="meetings[$index].creatorImage" profile-name="meetings[$index].creatorName" editable="false" placeholder="" comment-model-index="'statsComments'" comment-model-wrap="meetings[$index]" comment-changed="commentChanged(comment)"/>
					</div>
				</div>
				
				<div class="box collapse-default" ng-if="meetings[$index].comments.length">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{role==2 ? dictionary.yourNotesText : dictionary.teacherNotesText}}
					</div>
					<div class="box-content">
						<meeting-comment profile-pic="meetings[$index].creatorImage" profile-name="meetings[$index].creatorName" editable="false" placeholder="" comment-model-index="'comments'" comment-model-wrap="meetings[$index]" comment-changed="commentChanged(comment)"/>
					</div>
				</div>
				
				<div class="box box-expanded" ng-if="meetings[$index].activity">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{dictionary.presenceText}}
					</div>
					<div class="box-content box-content-large">
						<div class="padded-content padding-start-content">
							<div class="attendance-icon">
								<img ng-src="{{'./img/'+attendanceIcons[meetings[$index].activity.attendance]}}"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="box box-expanded" ng-if="meetings[$index].teacherComment.length">
					<div class="box-title" ng-click="toggleBoxSlide($event)">
						<div class="dropdown-arrow"/>
						{{dictionary.myFeedback}}
					</div>
					<div class="box-content box-content-large">
						<div class="padded-content padding-start-content">
							<div class="subject-name" ng-repeat="comment in meetings[$index].teacherComment[0]">
								{{comment}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--load swiper-->
			<div ng-init="$last?initializeSwiper() :''"></div>
		</div>
	</div>
</div>