<div class="resetPassword">
    <div class="input-wrap" ng-if= "backState != 'forget' ">
        <div class="input-icon password"></div>
        <input type="password"  ng-model="$parent.oldPass" placeholder="{{dictionary.oldPassword}}" />
    </div>

    <div class="show-error" ng-if="showPassError">{{dictionary.wrongPrevPass}}</div>

    <div class="input-wrap secBtn">
        <div class="input-icon password"></div>
        <input type="password" ng-model="newPass" placeholder="{{dictionary.newPassword}}" />
    </div>
    <p ng-show="!validatePass()&&newPass.length>0" id="invalidPass" class="invalidInput">
			{{dictionary.invalidPass}}
    </p>

    <div class="input-wrap">
        <div class="input-icon password"></div>
        <input type="password" ng-model="repeatPass" placeholder="{{dictionary.repeatNewPassword}}" />
    </div>
    <p ng-show="!validatePassCheck()&&repeatPass.length>0" id="invalidPassCheck" class="invalidInput">
			{{dictionary.invalidPassCheck}}
    </p>

    <div class="btn" ng-class="{'disable': repeatPass != newPass || !validatePass(newPass)}" ng-click="changePassword()">
        <div class="btn-text">
			{{dictionary.changePassword}}
        </div>
    </div>
    <!--<div class="show-error" ng-if="showTokenError"></div>--> 
    <div class="btn secBtn" ng-click="cancel()">
        <div class="btn-text">
			{{dictionary.cancelText}}
        </div>
    </div>
</div>